#hostpage {
    position: absolute;
    background-color: #FFF7ED;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: "Arial";
    display: block;
}

#hostpagelinks {
    height: 7%;
    display: flex;
    align-items: center;
}

.hostroutelinks {
    font-family: "Arial";
    font-size: 20px;
    text-decoration: none;
    padding-left: 4%;
    margin-right: 60px;
    color: black;
}

#hostroutelink-dashboard {
    font-weight: bold;
    text-decoration: underline;
}

#dashboardfirstdiv {
    height: 28%;
    width: 100%;
    background-color: #FFEAD0;
    padding-bottom: 1%;
}

#dashboardfirstdiv h2 {
    font-size: 40px;
    padding-top: 1%;
    margin-left: 4%;
}

.income-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    margin-top: 1%;
    margin-left: 4%;
}

.details-label {
    position: absolute;
    right: 8%;
    font-size: 18px;
}

#dashboardfirstdiv h1 {
    font-size: 22px;
    font-weight: bold;
    text-align: justify;
    margin-left: 3.8%;
}

#dashboardfirstdivspan {
    display: inline-block;
    text-align: right;
    font-weight: normal;
}

#dashboardfirstdiv h1 {
    font-size: 50px;
}

#dashboardscoreddiv {
    width: 100%;
    height: 20%;
    background-color: #FFDDB2;
    line-height: 150px;
}

#dashboardscoreddiv i {
    padding-left: 3%;
    color: #FF8C38;
    padding-right: 1%;
}

.reviewscore-details {
    margin-left: 4%;
    font-size: 30px;
    font-weight: bold;
}

#dashboardlistedvans {
    font-size: 20px;
    padding-top: 2%;
    height: 290%;
    width: 100%;
    background-color: #FFF7ED
}

#dashboardlistedvans h3 {
    margin-left: 4%;
    font-weight: bold;
    margin-bottom: 5%;
}

#dashboardlistedvans a {
    position: absolute;
    right: 8%;
    font-size: 18px;
    color: black;
    font-weight: lighter;
}

#vanlistdiv {
    background-color: white;
    height: 8.4%;
    width: 90%;
    margin: auto;
    border-radius: 20px;
    margin-bottom: 4%;
    display: flex;
}

#vanlistdivimg {
    width: 8%;
    height: 55%;
    margin: 3%;
}

#vanlistdivimg img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#vanlistmetadata {
    height: 50%;
    width: 30%;
    margin-top: 3%;
}

#vanlistmetadata p {
    margin-left: 4%;
}

#editvanlist {
    margin: auto;
    margin-right: 5%;
    text-align: right;
    height: 50%;
    width: 20%;
}

#hostvansdiv {
    position: absolute;
}

#reviewheader {
    display: flex;
    margin-top: 2%;
    margin-left: 4%;
    font-size: 18px;
}

#reviewheader p {
    line-height: 350%;
    margin-left: 4%;
}