        #vanspage {
            position: absolute;
            font-family: "Inter";
            width: 100%;
            height: 100%;
            left: 0;
        }
        
        #vanspagehead {
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 38px;
            margin-left: 3%
        }
        
        #vanscategorydiv {
            display: flex;
            width: 100%;
            height: 6%;
            margin-bottom: 3%;
            margin-left: 3%;
        }
        
        .vanscategorybtn {
            width: 20%;
            color: black;
            border: none;
            margin-right: 5%;
            border-radius: 5px;
            background-color: #FFEAD0;
            font-size: 18px;
            text-align: center;
        }
        
        .vanscategorybtn-clear {
            width: 20%;
            color: black;
            border: none;
            margin-right: 5%;
            border-radius: 5px;
            background-color: white;
            font-size: 18px;
            text-align: center;
        }
        
        #vanscategorybtn-simple:hover {
            animation-name: vans-darken-simple;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
        }
        
        #vanscategorybtn-luxury:hover {
            animation-name: vans-darken-luxury;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
        }
        
        #vanscategorybtn-rugged:hover {
            animation-name: vans-darken-rugged;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
        }
        
        @keyframes vans-darken-simple {
            from {
                background-color: #FFEAD0;
                color: black;
            }
            to {
                background-color: #E17654;
                color: white;
            }
        }
        
        @keyframes vans-darken-luxury {
            from {
                background-color: #FFEAD0;
                color: black;
            }
            to {
                background-color: #161616;
                color: white;
            }
        }
        
        @keyframes vans-darken-rugged {
            from {
                background-color: #FFEAD0;
                color: black;
            }
            to {
                background-color: #115E59;
                color: white;
            }
        }
        
        @keyframes clearfilter {
            from {
                background-color: none;
                color: black;
            }
            to {
                background-color: gray;
                color: white;
            }
        }
        
        #clearfilterbtn {
            width: 20%;
            border: none;
        }
        
        #clearfilterbtn:hover {
            animation-name: clearfilter;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
        }
        
        #vanslist {
            column-count: 2;
            width: 90%;
            margin: auto;
        }
        
        #vansdatadiv {
            margin: auto;
            width: 80%;
            height: 600px;
            margin-bottom: 17%;
            color: black;
        }
        
        #vandata-nameprice {
            margin-top: 5%;
        }
        
        #vansdatadiv h2 {
            text-align: left;
            padding: 0;
            display: inline;
        }
        
        #vansdatadiv p {
            text-align: right;
            padding: 0;
            margin: 0;
        }
        
        #vansimage {
            max-width: 100%;
            border: none;
            border-radius: 10px;
        }
        
        #luxurydiv {
            border-radius: 5px;
            width: 30%;
            height: 7%;
            text-align: center;
            line-height: 40px;
            background-color: #161616;
            color: white;
            font-size: 18px;
            font-weight: bold;
        }
        
        #ruggeddiv {
            color: white;
            border-radius: 5px;
            width: 30%;
            height: 7%;
            text-align: center;
            line-height: 40px;
            background-color: #115E59;
            font-size: 18px;
            font-weight: bold;
        }
        
        #simplediv {
            border-radius: 5px;
            width: 30%;
            height: 7%;
            text-align: center;
            line-height: 40px;
            background-color: #E17654;
            color: white;
            font-size: 18px;
            font-weight: bold;
        }